#######################
#
 Unreal Geneated Files 
#
#######################

*/Build

*/Binaries

*/DerivedDataCache

*/Intermediate

*/Saved

BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/Textures/HDRI
###################
#
#VS Geneated Files #

####################

*.VC.db

*.suo