#######################
#
 Unreal Geneated Files 
#
#######################

*/Build

*/Binaries

*/DerivedDataCache

*/Intermediate

*/Saved
BuildingEscape
/Content/
/StarterContent/


###################
#
 VS Geneated Files #

###################

*.VC.db
